.InnerWrapUpperFeatures {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10rem 1rem 10rem;
}
.topEleimg {
  width: 3rem;
}
.topElement {
  cursor: pointer;
  /* background-color: rgb(171, 171, 171); */
  width: 8rem;
  height: 8rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.topElement:hover {
  background-color: #e9e157;
}
.topElement a {
  text-decoration: none;
  color: black;
  position: relative;
  top: 20px;
}
